<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Multiply Number</title>
</head>
<body>
<h1>Enter a number to multiply by 5</h1>
<form action="/multiply" method="post">
    <label for="number">Number:</label>
    <input type="number" id="number" name="number" required>
    <button type="submit">Multiply</button>
</form>
<hr/>
<form action="/list_of_users" method="post">
    <label>Firstname:</label>
    <label for="firstname"></label><input type="text" id="firstname" name="firstname" required>
    <button type="submit">Save</button>
</form>
</body>
</html>
